@import "../../Mixins/mixins.scss";

.componentsContainer {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;

  &-components {
    height: 95vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 2fr 0.7fr;
    grid-gap: 2ch;

    @include respond-to(medium) {
      grid-template-rows: 1fr 0.7fr;
    }
  }
}
